<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>dataHub</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>YoungSerif-Regular.ttf</string>
		<string>Nunito-Black.ttf</string>
		<string>Nunito-BlackItalic.ttf</string>
		<string>Nunito-Bold.ttf</string>
		<string>Nunito-BoldItalic.ttf</string>
		<string>Nunito-ExtraBold.ttf</string>
		<string>Nunito-ExtraBoldItalic.ttf</string>
		<string>Nunito-ExtraLight.ttf</string>
		<string>Nunito-ExtraLightItalic.ttf</string>
		<string>Nunito-Italic-VariableFont_wght.ttf</string>
		<string>Nunito-Italic.ttf</string>
		<string>Nunito-Light.ttf</string>
		<string>Nunito-LightItalic.ttf</string>
		<string>Nunito-Medium.ttf</string>
		<string>Nunito-MediumItalic.ttf</string>
		<string>Nunito-Regular.ttf</string>
		<string>Nunito-SemiBold.ttf</string>
		<string>Nunito-SemiBoldItalic.ttf</string>
		<string>Nunito-VariableFont_wght.ttf</string>
		<string>Manrope-Bold.ttf</string>
		<string>Manrope-ExtraBold.ttf</string>
		<string>Manrope-ExtraLight.ttf</string>
		<string>Manrope-Light.ttf</string>
		<string>Manrope-Medium.ttf</string>
		<string>Manrope-Regular.ttf</string>
		<string>Manrope-SemiBold.ttf</string>
		<string>Manrope-VariableFont_wght.ttf</string>
		<string>BarlowCondensed-Black.ttf</string>
		<string>BarlowCondensed-BlackItalic.ttf</string>
		<string>BarlowCondensed-Bold.ttf</string>
		<string>BarlowCondensed-BoldItalic.ttf</string>
		<string>BarlowCondensed-ExtraBold.ttf</string>
		<string>BarlowCondensed-ExtraBoldItalic.ttf</string>
		<string>BarlowCondensed-ExtraLight.ttf</string>
		<string>BarlowCondensed-ExtraLightItalic.ttf</string>
		<string>BarlowCondensed-Italic.ttf</string>
		<string>BarlowCondensed-Light.ttf</string>
		<string>BarlowCondensed-LightItalic.ttf</string>
		<string>BarlowCondensed-Medium.ttf</string>
		<string>BarlowCondensed-MediumItalic.ttf</string>
		<string>BarlowCondensed-Regular.ttf</string>
		<string>BarlowCondensed-SemiBold.ttf</string>
		<string>BarlowCondensed-SemiBoldItalic.ttf</string>
		<string>BarlowCondensed-Thin.ttf</string>
		<string>BarlowCondensed-ThinItalic.ttf</string>
		<string>PlayfairDisplay-Black.ttf</string>
		<string>PlayfairDisplay-BlackItalic.ttf</string>
		<string>PlayfairDisplay-Bold.ttf</string>
		<string>PlayfairDisplay-BoldItalic.ttf</string>
		<string>PlayfairDisplay-ExtraBold.ttf</string>
		<string>PlayfairDisplay-ExtraBoldItalic.ttf</string>
		<string>PlayfairDisplay-Italic-VariableFont_wght.ttf</string>
		<string>PlayfairDisplay-Italic.ttf</string>
		<string>PlayfairDisplay-Medium.ttf</string>
		<string>PlayfairDisplay-MediumItalic.ttf</string>
		<string>PlayfairDisplay-Regular.ttf</string>
		<string>PlayfairDisplay-SemiBold.ttf</string>
		<string>PlayfairDisplay-SemiBoldItalic.ttf</string>
		<string>PlayfairDisplay-VariableFont_wght.ttf</string>
		<string>FiraSans-Black.ttf</string>
		<string>FiraSans-BlackItalic.ttf</string>
		<string>FiraSans-Bold.ttf</string>
		<string>FiraSans-BoldItalic.ttf</string>
		<string>FiraSans-ExtraBold.ttf</string>
		<string>FiraSans-ExtraBoldItalic.ttf</string>
		<string>FiraSans-ExtraLight.ttf</string>
		<string>FiraSans-ExtraLightItalic.ttf</string>
		<string>FiraSans-Italic.ttf</string>
		<string>FiraSans-Light.ttf</string>
		<string>FiraSans-LightItalic.ttf</string>
		<string>FiraSans-Medium.ttf</string>
		<string>FiraSans-MediumItalic.ttf</string>
		<string>FiraSans-Regular.ttf</string>
		<string>FiraSans-SemiBold.ttf</string>
		<string>FiraSans-SemiBoldItalic.ttf</string>
		<string>FiraSans-Thin.ttf</string>
		<string>FiraSans-ThinItalic.ttf</string>
		<string>EBGaramond-Bold.ttf</string>
		<string>EBGaramond-BoldItalic.ttf</string>
		<string>EBGaramond-ExtraBold.ttf</string>
		<string>EBGaramond-ExtraBoldItalic.ttf</string>
		<string>EBGaramond-Italic-VariableFont_wght.ttf</string>
		<string>EBGaramond-Italic.ttf</string>
		<string>EBGaramond-Medium.ttf</string>
		<string>EBGaramond-MediumItalic.ttf</string>
		<string>EBGaramond-Regular.ttf</string>
		<string>EBGaramond-SemiBold.ttf</string>
		<string>EBGaramond-SemiBoldItalic.ttf</string>
		<string>EBGaramond-VariableFont_wght.ttf</string>
	</array>
</dict>
</plist>
